:root {
    --breakpoint-large: '992px';
    --breakpoint-medium: '768px';
    --breakpoint-small: '576px';

    --color-grey: #959595;
    --color-lightGrey: #959595;
    --color-offWhite: #e8ecf2;
    --color-blue: #070476;
}