:root {
    --breakpoint-large: '992px';
    --breakpoint-medium: '768px';
    --breakpoint-small: '576px';

    --color-grey: #3c3a3c;
    --color-darkgrey: #212529;
    --color-purple: #cc31cf;
    --color-teal: #1be6ff;
}